argon2-cffi==23.1.0
Flask==3.0.3
Flask-Cors==6.0.0
python-dotenv==1.0.1
requests==2.32.3
sentry-sdk==2.16.0
pyfcm==2.0.7
pymongo==4.10.1
python-dateutil==2.9.0.post0
tzdata==2026.2
sentry-sdk
